.hero {
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.fade-overlay {
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    top: 400px;
    z-index: 10;
    background: linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0.0) 0%,
        rgba(17, 17, 17, 1.0) 100%
    );
}
